* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

h1 {
    color: #212121;
    font-family: 'Raleway', sans-serif;
    font-size: 38px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: #212121;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

main {
    background-color: #4d4d4d;
    padding-top: 100px;
}

footer {
    padding: 30px;
    background-color: #4d4d4d;
}

.nav {
    height: 70px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 26px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 26px;
    margin-top: 6px;
    padding-right: 44px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
    display: none;
}

#logonav {
    margin-bottom: 100px;
}

.header {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(171, 160, 160, 1) 50%, rgba(78, 154, 198, 1) 100%);
    height: 750px;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-l {
    margin-top: 90px;
    margin-left: 20px;
}

#header-text {
    margin: 0px;
}

.bn3637 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    backface-visibility: hidden;
    border: solid;
    border-width: 2px;
    border-color: #000;
    border-radius: 3rem;
}

.bn37 {
    background-color: #fff;
    color: #000;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.bn37:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

.footer-cnt {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 45px 50px;
    height: 420px;
}

.footer-left {
    float: left;
}

.footer-cnt .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-cnt .footer-right a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.fa {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition: all .25s;
}

.socials {
    margin-left: 80px;
}

#soc-1 {
    object-fit: fill;
}

.footer-right {
    margin-right: 500px;
}

@media (max-width:600px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }

    .nav-title {
        size: 90%;
    }

    .header {
        flex-direction: column;
        height: 550px;
        padding-top: 0px;
    }

    .header-l {
        margin-top: 38px;
    }

    .header-p {
        color: #000;
    }

    h1 {
        font-size: 20px;
        line-height: 26px;
    }

    p {
        font-size: 20px;
    }

    .socials {
        margin-left: 30px;
    }

    #maps {
        margin-left: 160px;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .footer-left {
        margin-left: 170px;
    }

    #maps {
        margin-left: 50px;
    }
}